@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@400;600&family=Playfair+Display:wght@600;700&family=Port+Lligat+Slab&family=Roboto&display=swap');
.wrapper{
    width: 1682px;
}
.header {
    display: flex;
    justify-content: center;
}
.logo{
    padding-top: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.logo .img-logo {
    display: flex;
    align-items: center;
}
.logo .logo-header{
    text-decoration: none;
    font-weight: 400;
    font-size: 35px;
    text-transform: uppercase;
    color: #BA7894;
    padding-left: 10px;
    font-family: 'Port Lligat Slab';
}
.logo .links{
    display: flex;
    align-items: center;
}
.logo .links a {
    padding-right: 46px;
    text-decoration: none;
    color: #141414;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Manrope';
}
.logo .links .language {
    display: flex;
    align-items: center;
    padding-right: 58px;
    gap: 6px;
}
.logo .links .language p {
    font-weight: 700;
    font-size: 16px;
    color: #141414;
    font-family: 'Manrope';
}
.logo .links .language img{
    height: 6px;
    width: 12px;
}
.logo .links .btn-header {
    display: flex;
    gap: 20px;
}
.logo .links .btnOne{
    border: 1.5px solid #141414;
    border-radius: 5px;
    color: #141414;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 16px;
    width: 91px;
    height: 52px;
    background-color: white;
}
.logo .links .btnTwo{
    border: 1.5px solid #141414;
    border-radius: 5px;
    color: white;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 16px;
    width: 91px;
    height: 52px;
    background-color: black;
}
.main{
    background: linear-gradient(89.61deg, #422A3C 55.75%, rgba(66, 42, 60, 0.85) 66.03%, rgba(66, 42, 60, 0.8) 75.96%, rgba(66, 42, 60, 0.31) 84.81%, rgba(66, 42, 60, 0) 99.7%);
    width: 100%;
    height: 833px;
    margin-top: 29px;
}
.main .text-main {
    padding-left: 218px;
    padding-top: 234px;
}
.main .text-main .text {
    display: flex;
    align-items: center;
    gap: 9px;
}
.main .text-main .text p {
    font-weight: 600;
    font-size: 15px;
    font-family: 'Manrope';
    text-transform: uppercase;
    color: white;
}
.main .service-text {
    color: #F7E5C1;
    font-weight: 700;
    font-size: 70px;
    font-family: 'Playfair Display';
    width: 510px;
    height: 160px;
    padding-top: 7px;
}
.main .textOne{
    font-weight: 400;
    font-size: 18px;
    font-family: 'Manrope';
    width: 508px;
    height: 62px;
    color: #FFFFFF;
}
.main .main-input{
    background: #FFFFFF;
    box-shadow: -1.33333px 0px 17.3333px rgba(0, 0, 0, 0.1);
    border-radius: 61.3333px;
    width: 949px;
    height: 88px;
    margin-top: 50px;
}
.service{
    display: flex;
    gap: 25px;
    padding-left: 40px;
    padding-top: 14px;
}
.serviceOne{
    width: 307px;
}
.serviceOne .service-main{
    display: flex;
    justify-content: space-between;
}
.service h2 {
    font-weight: 700;
    font-size: 18px;
    color: #BA7894;
    font-family: 'Inter';
}
.service input {
    margin-top: 14px;
    box-shadow: none;
    border: none;
    font-size: 14px;
}
.service input:active{
    outline: none;
}
.service input:hover{
    outline: none;
}
.service input:focus{
    outline: none;
}
.service .serviceOne img{
    padding-top: 15px;
}
.service .border {
    border: 1px solid black;
    width: 307px;
    margin-top: 11px;
}
.service .btn {
    margin-left:24px;
}
.service .btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background: #BA7894;
    border-radius: 56px;
    width: 211px;
    height: 66px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Manrope';
}
.work {
    padding-top: 142px;
    display: flex;
    justify-content: center;
}
.work .arrow1 {
    display: flex;
    padding-right: 63px;
}
.work .arrow2 {
    display: flex;
    padding-left: 63px;
}
.work .work-slide{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.work .slide p {
    padding-top: 24px;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Manrope';
}
.slideTwo {
    display: flex;
    justify-content: center;
    margin-top: 61px;
    background: rgba(235, 243, 245, 0.5);
    width: 100%;
    height: 948px;
}
.slideTwo .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 64px;
}
.slideTwo .text h2{
    width: 768px;
    height: 116px;
    font-weight: 700;
    font-size: 45px;
    font-family: 'Playfair Display';
    line-height: 130%;
}
.slideTwo .text p {
    padding-top: 6px;
    color: #555555;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Manrope';
}
.slideTwo img {
    padding-top: 39px;
}
.ourservices{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 111px;
}
.ourservices p {
    color: #BA7894;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Manrope';
}
.ourservices h2 {
    padding-top: 4px;
    font-family: 'Playfair Display';
    color: #422A3C;
    font-weight: 700;
    font-size: 45px;
}
.ourservices h3 {
    padding-top: 16px;
    font-family: 'Manrope';
    color: #555555;
    font-weight: 400;
    font-size: 20px;
}
.slideThree{
    display: flex;
    justify-content: center;
    margin-top: 69px;
}
.slideThree .cards {
    display: flex;
    justify-content: space-between;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 384px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 24px;
    overflow: hidden;
}

.card .preview {
    width: 384px;
    height: 275px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 20px;
    width: 100%;
    box-sizing: border-box;
}
.card-content h2 {
    font-weight: 700;
    font-size: 24px;
    font-family: 'Playfair Display'
}

.score {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.slideThree .score h2 {
    font-weight: 700;
    font-size: 18px;
    font-family: 'Playfair Display'
}

.star-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.placeholder {
    display: flex;
    gap: 20px;
    align-items: center;
}
.placeholder p {
    display: flex;
    align-items: center;
    width: 336px;
    height: 38px;
    color: #555555;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.slideThree .card .btn {
    background: #FFFFFF;
    color: #BA7894;
}
.card button {
    width: 100%;
    color: #FFFFFF;
    background: #BA7894;
    border: 1px solid #BA7894;
    border-radius: 8px;
    width: 336px;
    height: 53px;
}
.slideFour {
    display: flex;
    justify-content: center;
    margin-top: 111px;
    width: 100%;
    height: 1085px;
    background: linear-gradient(128.1deg, #FDFDFD 5.48%, #F0F0F0 89.93%);
    margin-top: 75px;
}
.slideFour .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
}
.slideFour .text p {
    color: #BA7894;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Manrope';
}
.slideFour .text h2 {
    padding-top: 2px;
    color: #141414;
    font-weight: 700;
    font-size: 45px;
    font-family: 'Playfair Display';
}
.slideFour .backg .img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slideFour .backg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 67px;
    width: 100%;
    height: 688px;
    background: #422A3C;
    border-radius: 40px;
}
.slideFour .backg .text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 576px;
    height: 339px;
}
.slideFour .backg .text2 p {
    color: #EDFFF0;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Manrope';
    line-height: 32px;
}
.slideFour .backg .text2 .p2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.slideFour .text2 h2{
    font-family: 'Playfair Display';
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color:white;
    padding-top: 20px;
    width: 601px;
}
.slideFour .text2 h3{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: white;
    padding-top: 12px;
    line-height: 180%;
    width: 594px;
    height: 102px;
}
.slideFour .arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 56px;
}
.slideFour .arrow1 {
    height: 20px;
    width: 11px;
    border: 1px;
    background: #FFFFFF;
    border-radius: 120px;
    padding: 16px 20px;
}
.slideFour .arrow2 {
    background: #422A3C;
    border-radius: 120px;
    height: 20px;
    width: 11px;
    padding: 16px 20px;
}
.slideFive {
    display: flex;
    justify-content: center;
    padding-top: 86px;
    gap: 34px;
}
.slideFive .text h2{
    color: #141414;
    font-weight: 700;
    font-size: 45px;
    font-family: 'Playfair Display'
}
.slideFive .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slideFive .text p {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Manrope';
    width: 635px;
    height: 50px;
    color: #555555;
    padding-top: 15px;
}
.slideFive .input {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #ECBFD3;
    border-radius: 45px;
    align-items: center;
    width: 543px;
    height: 68px;
    box-shadow: none;
    padding-left: 30px;
    padding-right: 11px;
    margin-top: 46px;
}
.slideFive .input input {
    border: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Manrope';
}
.slideFive input::placeholder {
    color: #004761;
}
.slideFive input:active{
    outline: none;
}
.slideFive input:hover{
    outline: none;;
}
.slideFive input:focus{
    outline: none;
}
.slideFive .text-input {
    display: flex;
    align-items: center;
    gap: 8px;
}
.slideFive .input button {
    background: #141414;
    border-radius: 45px;
    color: white;
    padding: 13px 34px 15px 32px;
}
.footer {
    margin-top: 86px;
    padding-top: 68px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 560px;
    background-color:#241520; ;
}
.footer .wrapper {
    width: 1200px;
}
.footer .footer-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-logo{
    display: flex;
    gap: 17px;
}
.footer-icon {
    display: flex;
    gap: 10px;
}
.footer .border {
    width: 100%;
    opacity: 0.15;
    border: 1px solid #FFFFFF;
    transform: rotate(0.05deg);
    margin-top: 52px;
}
.footer-end {
    display: flex;
    justify-content: space-between;
    padding-top: 52px;
}
.footer-end h2 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    font-family: 'Playfair Display';
}
.footer1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer1 a {
    color: white;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
}
.footer-end p{
    color: white;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
}

.footer2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer2 .p2 {
    text-align: center;
}
.end {
    width: 100%;
    height: 75px;
    background: #160813;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
}




