@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap');
body {
    font-family: 'Port Lligat Slab', serif;
}
.wrapper{
    width: 1682px;
}
.header {
    display: flex;
    justify-content: center;
}
.logo{
    padding-top: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.logo .img-logo {
    display: flex;
    align-items: center;
}
.logo .logo-header{
    text-decoration: none;
    font-weight: 400;
    font-size: 35px;
    text-transform: uppercase;
    color: #BA7894;
    padding-left: 10px;
}
.logo .links{
    display: flex;
}
.logo .links a {
    padding-right: 46px;
}
.logo .links .language {
    display: flex;
    align-items: center;
    padding-right: 58px;
}
.logo .links .language img{
    height: 6px;
    width: 12px;
}
.logo .links .btn-header {
    display: flex;
    gap: 20px;
}
.logo .links .btn-header:nth-child(1){
    border: 1.5px solid #141414;
    border-radius: 5px;
    color: #141414;
    font-weight: 700;
    font-size: 16px;
    width: 43px;
    height: 24px;
}

